.page-header {
  margin: 0px;
}

.jsContentTest {
  background-color: yellow;
}

#LogoutButtonID {
  float: right;
}

.nav>li>a {
    padding: 3px 5px;
}

.messageMetadata{
    float: right;
    font-size: xx-small;
    color: #CFCFCF;
}

.messageText{
    float: left;
    text-align: left;
}

.list-group-item {
    padding: 1px 3px !important;
}

.indicePosicionClass {
  font-size: x-large;
  font-weight: bold;
  color: #333333;
  width: 1.5em;
  text-align: right;
}

.rankingTable{
  vertical-align: bottom;
}

.messageDateClass{
  margin-left: 1em;
  font-size: smaller;
  float: right;
}
